**/.flattened-pom.xml
.flattened-pom.xml

*/target/
.classpath
.project
.settings/
.idea/
*.iml
/_build.bat
/_run_catalog_service_app.bat
dev/secret/
catalog_fix.json
pub-sub-credentials.json
**/pmd.html
**/pmd.xml
*-tests.jar
pom.properties